<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>About</h2>
        <ul>
            <li>This is a Online Store. Which is specially created for consumers. They can see all products here which are sold here with Offers and Discounts. And all the products are delivered to our customers with in 2 days.
                We have all kind of products such as, Electrical and electronics, Sports, Phones and hearphones, all domestic useable products and Daily using Grocery products too. Snacks and juices. Nuts and Mixtures. like all products.
                cooking products and washing and cleaning. <b>Replacement are also available within 1 week from buying.</b>
            </li>
            <li>
                Here you can also became a seller. In home page there is a Product seller section, you can registered and start selling.
            </li>
            
    </body>
</html>
